/*
* colorset
*/
$grey01: #f2f3f5;
$grey02: #dadada;
$grey03: #b1b8c0;
$grey04: #727272;
$grey05: #2f2f2f;
$grey06: #1a1f27;
$grey07: #1e1e22;

$white: #ffffff;
$black: #000000;

$purple01: #eef1ff;
$purple02: #eaddff;
$purple03: #bfc9ff;
$purple04: #6b6dfb;
$purple05: #4447e9;
