/*
* colorset
*/
$grey01: #f2f3f5;
$grey02: #dadada;
$grey03: #b1b8c0;
$grey04: #727272;
$grey05: #2f2f2f;
$grey06: #1a1f27;
$grey07: #1e1e22;

$white: #ffffff;
$black: #000000;

$purple01: #eef1ff;
$purple02: #eaddff;
$purple03: #bfc9ff;
$purple04: #6b6dfb;
$purple05: #4447e9;

/*
* padding, margin
*/
$p025: 4px;
$p05: 8px;
$p1: 16px;
$p2: 20px;
$p3: 24px;
$p4: 28px;
$p5: 32px;
$p6: 36px;
$p7: 40px;
$p8: 44px;
$p9: 48px;
$p10: 52px;

$m1: 16px;
$m2: 20px;
$m3: 24px;
$m4: 28px;
$m5: 32px;
$m6: 36px;
$m7: 40px;
$m8: 44px;
$m9: 48px;
$m10: 52px;
