@import "./styles/_font.scss";
@import "./styles/_variable.scss";
@import "./styles/_reset.scss";

:root {
  font-family: Pretendard-Regular, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1080px;
  max-height: 1920px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.875em 0.625em; //14px 10px
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $purple04;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $purple04;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: $white;
    background-color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
