@import "../styles/variable";

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 360px;
  min-height: 640px;
  width: 480px;
  height: 100vh;
  background-color: $white;
  outline: 1px solid black;
}
